streamlit
langchain
langchain-community
langchain-openai
langchain-ollama
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
faiss-cpu==1.7.4
sentence-transformers
pypdf
pymupdf==1.24.10
bs4
wikipedia
arxiv
duckduckgo-search
validators==0.28.1
youtube-transcript-api
unstructured
psycopg2-binary
sqlalchemy
mysql-connector-python
numexpr
python-dotenv
